body {
    font-family: Arial, sans-serif;
}
#todo-list {
    max-width: 400px;
    margin: 0 auto;
}
#addTask{
    background-color: #8AAAE5;
    color: white;
    border-radius: 5px;
    border: none;
    outline: 0;
    transition: transform 0.2s ease;
    padding: 5px;
}
#addTask:active {
    transform: scale(0.9);
}
.task {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.task label {
    flex-grow: 1;
}
.complete-button {
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 5px 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.complete-button:active {
    transform: scale(0.90);
}